{% extends "bootstrap_base.html" %}

{% block content %}

        <h1>Bamboo Builds between {{ summary.from_date }} and {{ summary.to_date}}</h1>
        <hr>
        <div class="container-fluid">
            {% for project in builds %}
            <div class="panel-group" id="prj-{{ project.key}}">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">
                            <a data-toggle="collapse" data-parent="#prj-{{ project.key}}" href="#prj-{{ project.key}}-plans">
                                {{ project.name}}</a>
                        </h2>
                    </div>
                    <div id="prj-{{ project.key}}-plans" class="panel-collapse collapse">
                        {% for plan in project.plans %}
                        <div class="panel-heading" id="prj-{{ project.key}}-plan-{{ plan.short_key}}-h">
                            <h3>{{ plan.short_name }}</h3>
                            <div class="panel-group" id="prj-{{ project.key }}-plan-{{ plan.short_key }}">
                                {% for branch in plan.branches %}
                                    <h4>{{ branch.name }}
                                        {% if branch.successful > 0 %}
                                            <span class="badge badge-success">{{ branch.successful }}</span>{% endif %}
                                        {% if branch.failed > 0 %}
                                            <span class="badge badge-error">{{ branch.failed }}</span>{% endif %}
                                        {% if branch.unknown > 0 %}
                                            <span class="badge badge-info">{{ branch.unknown }}</span>{% endif %}
                                    </h4>
                                    <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Status</th>
                                                    <th>Started</th>
                                                    <th>Finished</th>
                                                    <th>Duration</th>
                                                    <th>Trigger</th>
                                                    <th>Stages</th>
                                                    <th>Artifacts</th>
                                                    <th>JIRA Issues</th>
                                                </tr>
                                            </thead>
                                            <tbody class="">
                                                {% for result in branch.results %}
                                                <tr>
                                                    <td>{{ result.state}}</td>
                                                    <td>{{ result.started}}</td>
                                                    <td>{{ result.finished}}</td>
                                                    <td>{{ result.duration}}</td>
                                                    <td>{{ result.trigger_raw}}</td>
                                                    <td>{{ result.number_stages}}</td>
                                                    <td>{{ result.number_artifacts}}</td>
                                                    <td>{{ result.number_issues}}</td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                    </table>
                                {% endfor %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

{% endblock %}